.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .settings-section {
    width: 100%;
  }
  
  .list-group-container {
    margin-bottom: 20px;
  }
  
  .custom-list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  
  .custom-list-item {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    padding-left: 20px;
    border-left: none; 
    border-right: none; 
    
  }
  
  .custom-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .custom-link:hover {
    text-decoration: none;
    color: #007bff;
  }
  