.card-container {
    width: 100%;
    max-width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: fit-content;
    text-align: center;
}

.card-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    margin: 0.5rem 5%;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make the card responsive */
    max-width: 15rem; /* Add a maximum width for larger screens */
    margin: 0 auto; /* Center the card horizontally */
    border-radius: 1rem;
    box-sizing: border-box;
}