h1 {
  margin: 0;
  font-size: 22px;
  padding: 20px;
  color: black;
}

.account-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 0;

  .account-header {
    text-align: center;
    margin-bottom: 20px;

    .profile-pic {
      width: 175px;
      height: 175px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      border: 1px solid black;
      margin-bottom: 10px;
      transition: opacity 0.3s ease;
    }

    .profile-pic:hover {
      opacity: 0.7;
    }

    h2 {
      margin: 0;
      font-size: 22px;
      color: black;
    }

    .email-text {
    margin: 0;
    font-size: 14px; /* Smaller font size for the email */
    color: #666; /* Gray color for a subtle look */
  }
  }

  .reviews-section {
    width: 90vw; /* Make reviews stretch to the full width */
    max-width: 350px; /* Optional: Set a max width for readability */
    margin: 0 auto; /* Center the reviews section */
    border-radius: 8px; /* Optional: Add rounded corners */
  }

  .account-actions {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      text-align: center;

      p {
        margin-bottom: 20px;
      }

      button {
        margin: 5px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}

.list-group-container {
  margin-bottom: 20px;
}

.custom-list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.custom-list-item {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  padding-left: 20px;
  border-left: none;
  border-right: none;
}

.custom-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.custom-link:hover {
  text-decoration: none;
  color: #007bff;
}
