// Import all of Bootstrap's CSS
@use "bootstrap";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; // Adjust the gap as needed
  padding: 1rem; // Adjust the padding as needed
}

.card {
  margin: 0.5rem; // Optional: additional margin
}

.top-image img {
  width: 100%; // Full width
  height: auto; // Maintain aspect ratio
  display: block;
  margin-bottom: 1rem;
}