.favorites-page {
  .remove-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545; // Red background
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #c82333; // Darker red on hover
    }
  }

  .card-container {
    position: relative; // Enable positioning for remove button
  }
}