.image-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow: auto; /* Enable scrolling for the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-list-overlay .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #dc3545; /* Red background */
      color: #fff;
      border: none;
      border-radius: 50%;
      font-size: 1.2rem;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    &:hover {
      background-color: #c82333;
    }
  }

.image-list-overlay > .row {
  width: 100%; /* Ensure the row spans the full width */
  margin-top: 20px;
}

.image-list-img {
  max-width: 100%;
  max-height: 300px; /* Limit the height of the images to prevent overflow */
  border-radius: 10px;
  object-fit: cover;
}

body.modal-open {
  overflow: hidden; /* Prevent background scrolling */
}
